html,body{
  font-family: 'Montserrat', sans-serif;
}

.custom-main-continer {
  min-height: 100vh;
  background: #3eb08e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.landing-back {
  position: absolute;
  top: 40px;
  left: 40px;
}
.landing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
  margin-top: 60px;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: inherit;
}
select {
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 20px -2px rgba(50, 50, 71, 0.04);
  border-radius: 20px;
  width: 65%;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 36px;
  margin-bottom: 40px;

  background: url(../images/downn.png) no-repeat right ;
  -webkit-appearance: none;
  background-position-x: 97%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
/* Form */
.form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfb;
}

.form-container-inputs {
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 20px -2px rgba(50, 50, 71, 0.04);
  border-radius: 20px;
  width: 65%;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 36px;
  margin-bottom: 40px;
}

.form-container-inputs::placeholder {
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  opacity: 0.5;
}
option {
  background: #ffffff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 20px -2px rgba(50, 50, 71, 0.04);
  border-radius: 20px;
}
/* Menu */

.menu-cat-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfb;
  position: relative;
}
.mcc-title{
    position: absolute;
    left: 40px;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.mcc-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box {
  height: 255px;
  width: 305px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.03),
    0px 4px 20px -2px rgba(50, 50, 71, 0.04);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}
.active{
    background: #FFFFFF;
border: 3px solid #3EB08E;
box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.03), 0px 4px 20px -2px rgba(50, 50, 71, 0.04);
border-radius: 30px;
}
.inactive{
    background: #FFFFFF;
}

.box-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
}



/* PRODUCTS */

.productsDetails{
    max-height: 100vh;
    height: 100vh;
    background: #FBFBFB;
    padding-left: 20px;
}
.uper-menu{
    min-height: 400px !important;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}
.uper-menu-title{
    float: left;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom:20px;
}
.down-menu{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.products-boxes{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    flex-wrap: wrap;
    
}
.p-box{
    width: 235.37px;
    height: 70.2px;
    border: 0.5px solid #D3D3D3;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.p-active{
    background: #3EB08E;
    color: #ffffff !important;
    margin-right: 20px;
    min-width: 235.37px;
    height: 70.2px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10%;
    margin-bottom: 1%;
}
.p-inactive{
    background: #F0F0F0;
    color: #000000;
    min-width: 235.37px;
    height: 70.2px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10%;
    margin-bottom: 1%;
}
.choose-product{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3%;
}
.choose-product-box{
    height: 88px;
    width: 235.37px;
    background: #FFFFFF;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:10%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.choose-product-box span{
    height: 48px;
    min-width: 48px; 
    background: #3EB08E;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.enquiry{
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3.77018px 81.0589px rgba(0, 0, 0, 0.1);
    position: relative;

}
.enq-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    padding: 5%;
}
.submit-btn{
    position: absolute;
    bottom: 20px;
    outline: none;
    border: none;
    width: 239px;
    height: 64px;
    background: #3EB08E;
    border-radius: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;   
}

.custom-enq-box{
    background: #FFFFFF !important;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.03), 0px 4px 20px -2px rgba(50, 50, 71, 0.04) !important;
    border-radius: 20px !important;
    margin-bottom: 10px !important;
}

